.pop
{
  height: 100%;
  width: 100%;
  background-color: #F65656;
}

.popcr
{
  height: 100%;
  width: 100%;
  background-color: #01B574;
}

.popupmainbox
{
  padding-top: 1%;
  width: 98%;
  height: 98%;
  background-color: #FDFDFD;
}

.crossineventpop
{
  display: flex;
  width: 96%;
  padding-top: 10px;
  font-size: 25px;
  justify-content: flex-end;
}

.eventstat
{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.eventpopicon
{
  background-color: #01B574;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.eventpopicon-trash
{
  background-color: #F65656;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chekck
{
  color: #FDFDFD;
  font-size: 60px;
  padding-top: 10px;
  padding-left: 5px;
}

.descrpop
{
  text-align: justify;
  font-size: 23px;
}

.popupinfo
{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}

.dark-mode .popupmainbox,.dark-mode .popfac .dark-mode .container
{
  background-color: #1A1D26;
  color: #FEFCF8 ;
}
.dark-mode i{
  color: #FEFCF8;
}


.trashbuttondiv
{
  width: 100%;
  height: 20%;
  color: #FDFDFD;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.nocontiuebut
{
  background-color: #4318FF;
  border: none;
  height: 100%;
  color: #FDFDFD;
  border-radius: 10px;
  font-weight: bold;
  width:70%;
}

.trashreqbut
{
  background-color: #F65656;
  border: none;
  height: 100%;
  width: 70%;
  border-radius: 10px;

  color: #FDFDFD;
  font-weight: bold;
}


.poptrashdivstyle
{
  height: 60%;
  width: 50%;
  justify-content: center;
  display: flex;
}




.fal-11-rep{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  
  /* background-color: #01B574; */
}

.heade{
  height: 10%;
  width: 100%;
  /* background-color: #01B574; */
  display: flex;
  align-items: center;
}

.heade1{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: #bea7a7; */
}

.heade2{
  height: 80%;
  width: 100%;
}

.head-rep-table{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.head-rep-table--e{
  height: 95%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}


.view-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.Dash-pt--rep{
  font-size: 26px;
  font-weight: 600;
  color: #2B3674;
}

.previouseventbut1-cresu
{
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #FDFDFD;
  background-color: #4318FF;
  border-radius: 10px;
  height: 40px; 
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.previouseventbut1-cre
  {
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #FDFDFD;
    background-color: #01B574;
    border-radius: 10px;
    height: 40px; 
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .previouseventbut1-cretrtr  {
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #FDFDFD;
    background-color: #F65656;
    border-radius: 10px;
    height: 40px; 
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .line-rep{
    width: 100%;
    height: 2px;
    background-color: gray;
    border-radius: 10px;
  }

  .chekckfa
{
  color: #FDFDFD;
  font-size: 60px;
  display: grid;
  place-items: center;
  padding-left: 5px;
  font-size: 50px;
}

.popfac
{
  height: 100%;
  width: 100%;
  background-color: #01B574;
  display: flex;
  justify-content: end;
}
