.inputwithsearch
{
    padding: 5px 10px;

}
.input-container {
    position: relative;
  }
  
  .input-with-search {
    padding-right: 30px; /* Adjust as needed */
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-500%);
    color: #d10000; /* Adjust icon color */
    pointer-events: none; /* To prevent click on the icon */
  }








  
  .dark-mode .eventinfobox
  {
    background-color: #1A1D26;
    
  }
  
  .dark-mode .myeventtit,.dark-mode .RxCross2,
  .dark-mode .myeventdesctit,.dark-mode .labelee,
   .dark-mode .labe, .dark-mode .labele
  {
    color: #FEFCF8;
  }
  
  .dark-mode .value, .dark-mode .myeventtexdescr,.dark-mode .Dash-pt{
    color: #DEE6FF;
  }
 
  
  
  /* Point Container */
  
  .pointcontainerbox
  {
    min-width: 95.337423%; /* 1554px/1630 */
    
  }
  