.not-found-container {
  text-align: center;
  padding: 50px;
}

.not-found-title {
  font-size: 96px;
  margin: 0;
}

.not-found-text {
  font-size: 24px;
  margin: 20px 0;
}

.animation-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.animation-box {
  width: 30px;
  height: 30px;
  background-color: #007bff;
  margin: 0 5px;
  animation: bounce 1.5s infinite ease-in-out;
}

.animation-box:nth-child(2) {
  animation-delay: 0.3s;
}

.animation-box:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* *
{
  color: #2B3674;
} */
/* login */
 /* Common styles */
 .imageandform {
  display: flex;
  justify-content: space-between;
  background-color: #F4F7FE;
  height: 100vh;
  width: 100wh;
  overflow: hidden;
}

.loginform {
  width: 50%;
  height: 100%;
  padding-left: 2%;
  padding-top: 2%;
}

.background {
  background-image: url('./assets/loginback.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 0px 0px 0px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg
{
  min-width: 50%;
  overflow: hidden;
  border: none;
  height: 100%;
  background-color:#F4F7FE ;
}
.signin {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 8px;
}

.loginfield {
  color: #4318FF;
  margin-top: 30px;
  font-weight: 500;
}

.createaccountlog
{
  font-weight: 700;
  color: #4318FF;
  font-size: 15px;
  cursor: pointer;
}

.notregisteredyeat
{
  font-size: 15px;
  padding-right: 2%;
  color: #4318FF;
  font-weight: 400;
}

.logininput {
  border: 2px solid #A3AED0;
  margin-top: 0px;
  width: 93%;
  padding-left: 7%;
  height: 100%;
  font-size: 15px;
  background-color: #F4F7FE;
  border-radius: 15px;
}

::placeholder {
  color: #A3AED0;
}

.loginfield {
  margin-bottom: 8px;
}

.password-container {
  position: relative;
  width: 91%;
  height: 7%;
}

.toggle-password {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.keeploggedin {
  display: flex;
  width: 92%;
  justify-content: space-between;
  padding-top: 5%;
}

.checkbox { 
  height: 15px;
  margin-right: 10px;
  /* background-color: green; */
  width: 15px;
}
.keepmelogged
{
  font-size: 13px;
  font-weight: 400;
}

.forgot
{
  font-size: 15px;
  display: flex;
  justify-content: end;

  color:#4318FF;
  font-weight: 500;
  
}
.signinbutton {
  cursor: pointer;
  background-color: #4318FF;
  color: #FDFDFD;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-weight:700;
  font-size: 17px;
}

.logo {
  height: 40%;
  width: 45%;
}

.learnmorelogin {
  border: 2px solid #928eff;
  width: 27%;
  margin-top: 3%;
  color: #FFFFFF;
  padding: 12px 17px;
  border-radius: 26px;
}

.linked-bit {
  color: #FFFFFF;
  font-size: 23px;
  margin-top: 10px;
  font-weight: 600;
}

.loginmode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: none;
  background-image: linear-gradient(to right, #868CFF, #4318FF);
  border-radius: 50px;
  color: #FDFDFD;
  font-size: 25px;
}

.loginmodecontainer {
  display: flex;
  padding-right: 5%;
  width: 100%;
  justify-content: end;
  align-items: center;
  height: 10%;
  /* background-color: #0B1437; */
}

.mediaquierygogo
{
  display: none;
}


.googlebutton{
  background-color: #FDFDFD !important;
  padding: 5px 145px ;
  margin-top: 15px;
  border: 2px solid #A3AED0 !important;
  color: #2B3674 !important;
  border-radius: 10px !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  cursor: pointer  !important;
  box-shadow: none !important;   
}



@media screen and (max-width: 550px) {

  .mediaquierygogo
{
  display: block;
  padding-top: 10%;
}

.loginform
{
  display: none;
}

.bg
{
  width: 100%;
}

.logo{
  width: 70%;
}

.learnmorelogin
{
  display: none;
}
.loginmodecontainer
{
  display: none;
}

.background
{
  border-radius: 0px;
}
}

/* Dark mode styles */
/* .dark-mode .googlebutton {
  background-color: #2B3674 !important;
  padding: 5px 145px !important;
  margin-top: 15px;
  border: 2px solid #A3AED0 !important;

  border-radius: 10px !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  cursor: pointer !important;
  box-shadow: none !important;   
} */

.eventnamefac
{
font-weight: 600;
font-size: 20px;
text-transform: uppercase;
padding-left: 20px;
margin: 15px 0px;
color: #2B3674;
}



.dark-mode .imageandform {
  background-color: #0B1437;
}

.dark-mode .loginform{
  background-color: #0B1437;
}
.dark-mode .bg
{
  background-color: #0B1437;
}

.dark-mode .loginfield,.dark-mode.signin, 
.dark-mode .keepmelogged,.dark-mode .forgot,
.dark-mode .signin , .dark-mode .createaccountlog{
  color: #FDFDFD;
}

.dark-mode .notregisteredyeat
{
  color: #A3AED0 ;
}

.dark-mode .logininput {
  background-color: #0B1437;
  color: #FDFDFD;
  border: 2px solid #FDFDFD;
}

.threebuttonintwopage
{
  display: flex;
  width: 100%;
  height: 7%;
  gap: 4%;
  justify-content: flex-end;
}

.dropdown-select1:focus {
  outline: none;
  border-color: #4a90e2; 
}

.dropdown-select1-ry:focus {
  outline: none;
  border-color: #4a90e2; 
}

.multiline-input:focus {
  outline: none;
  border-color: #4a90e2; 
}




/* report page */

.EventReportstitle {
  color: #0B1437;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}

.event-status-pen {
  margin-top: 20px;
  text-align: start;
  /* border: 1px solid; */
  margin-bottom: 20px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-status label {
  font-weight: normal;
  font-size: 18px;
  color: #666;
}




.status-text {
  color: #007bff;
  font-size: 16px;
}

.form-report {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 100%;
  height: 75%;
}

.form-group-rp {
  display: flex;
  flex-direction: column;
  width: 49%;
  /* background-color: #000000; */
  justify-content: space-between;
  height: 100%;
}

.form-group-4 {
  display: flex;
  flex-direction: column;
  width: 22%;
  justify-content: space-between;
  height: 100%;
}


.group-ij{
  width: 100%;
}

.group-ij-4{
  width: 100%;
}

.label-rep {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.text-input{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 16px;
  width: 96%;
  background-color: transparent; 
}

.text-input-1515{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 16px;
  width: 90%;
  background-color: transparent; 
}

.text-input:focus
{
  border: 1px solid #ccc;
  outline: none; 
  caret-color: transparent; 
}

.text-input-1515:focus
{
  border: 1px solid #ccc;
  outline: none; 
  caret-color: transparent; 
}

/* Error404.css */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.starfield-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

.error-heading {
  font-size: 10rem;
  margin: 0;
  animation: bounce 1s infinite, colorChange 2s infinite alternate;
}

.error-message {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #dcdcdc;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes colorChange {
  0% {
    color: #ff5733;
  }
  25% {
    color: #33ff57;
  }
  50% {
    color: #5733ff;
  }
  75% {
    color: #ff33a1;
  }
  100% {
    color: #33ffea;
  }
}


.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 85vh;
  /* background-color: cadetblue; */
}

.card {
  max-width: 300px; 
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FDFDFD;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card .image {
  height: 150px;
}

.card .details {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .steppper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.card .stepper {
  height: 30px;
}

.card .status {
  padding: 16px;
  text-align: center;
  font-weight: bold;
  color: #2B3674;
}

.fac-att-pag
{
  height:98%;
  width:66%;
  padding:  0% 2%;
  background-color: white;
  border-radius: 10px;
}

.adminnavi
 {
  height: 100%;
  width: 62%;
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #d7d8da;
 }

 .adminline {
  background-color: #4318FF;
  height: 70%;
  width: 3px;
  border-radius: 5px;
  transition: opacity 0.3s ease; 
}

.hidden {
  opacity: 0;
  transform: all 0.5s;
  pointer-events: none; 
}

 .adminnavbutcon
 {
   height: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   border-radius: 5px;
   width: 25%;
  }
  
  .adminnavbut
  {
  background-color: #F4F7FE;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
 }

.selected {
  transition: ease 0.5s;
  background-color: #4318FF; 
  color: #FFFFFF;
}

.search-bar-fal-rep-1 {
  height: 100%;
  width: 35%;
  border: 1px solid #d7d8da;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  padding-left: 10px;
  background-color: #F4F7FE;
}

.text-input-11{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2% ;
  font-size: 16px;
  width: 98%;
  caret-color: transparent; 
}

.text-input--rep-1{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2% 1%;
  font-size: 16px;
  width: 98% ;
  caret-color: transparent; 
}
.text-input--rep-111
{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2% 1%;
  font-size: 16px;
  width: 98% ;
  caret-color: transparent; 
}
.main-body--1{
  background-color: #FDFDFD;
  /* background-color: brown; */
  width: 96%;
  height: 95%;
  padding: 0 2%;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 1%;
}

.row-imo--1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.col-imo-1{
  width: 49%;
  /* background-color: #dd86c8; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.multiline-input-1 {
  color: #0B1437;
  width: 98.5%; 
  height: 60px;
  padding:  2px 5px;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 4px;
  resize: none;
}

.rubics-main-1{
  border: 1px solid gray;
  font-size: 14px;
  text-decoration: underline;
  padding: 5.5px 0px;
  border-radius: 4px;
  color: #0522a7;
  cursor: pointer;
  text-align: center;
}

.text-input-1{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1%;
  font-size: 16px;
  width: 98%;
  caret-color: transparent; 
}
.dropdown-label-rep {
  display: block;
  font-weight: 600;
  padding: 8px 0px;
  font-size: 16px;
  color: #0B1437;
}

.ss-tit{
  color: #0B1437;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-input--rep{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1.6% 1%;
  font-size: 16px;
  width: 98% ;
  caret-color: transparent; 
}

.threebuttonintwopage-rep
  {
    display: flex;
    width: 100%;
    height: 13%;
    gap: 4%;
    justify-content: flex-end;
    align-items: center;
  }

  .multi-rej {
    color: #0B1437;
    width: 80%; 
    height: 120px ;
    padding:  2px 5px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 4px;
    resize: none;
  }


  .fac-ver-stepp
  {
    height: 97%;
    width: 28%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }




  .rupop {
    width: 96%;
    padding: 0 2%;
    height: 100%;
    /* background-color: #0B1437; */
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;

  }
  
  .ru-inp {
    width: 50px;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
  }

  .ru-inp-so {
    width: 130px;
    padding: 5px 0;
    text-align: center;
  }

  .ru-inp-inp {
    width: 200px;
    padding: 5px;
    text-align: center;
    /* margin-right: 5px; */
  }
  
  .total-ru {
    display: flex;
    justify-content: center;
    /* background-color: #33ff57; */
    font-weight: 600;
    color: #2B3674;
    font-size: 16px;
  }

  .total-ru td{
    border: none;

  }
  
  .fal-rat{
    height: 90%;
    width: 96%;
    padding: 0 2%;
  }

  .inside-below-fal{
    width: 96%;
    padding: 2%;
    background-color: #FDFDFD;
    border-radius: 10px;
    height: 92%;
  }