*
{
  color: #2B3674;
}

.leftside{
    height: 100vh;
    width: 15.104167%; /* 290px/1920 */
    background-color: #FDFDfd;
    /* background-color: aqua; */
}

.rightside{
    height: 100vh;
    width: 84.895833%; /* 1630px/1920 */
    background-color: #F4F7FE;
}

  
  .theme{
    display: flex;
    height: 5.740741%; /* 62px/1080 */
    width: 6.875%; /* 132/1920 */
    border: 1px solid #A3AED0 ;
    background-color: #FDFDFD;
    border-radius: 30px;
    box-shadow: 3px 1px 25.2px 0px #7090B014;
    justify-content: center;
    gap: 5.354167%; /* 26px/1920px */
  }
  
  .header1{
    display: flex;
    margin: 15px 0px;
    gap: 75.90184%; /* 194px/1630 */
  }
  
  .Dash{
    margin-left: 20px;
    font-size: 34px;
    font-weight: 450;
    color: #2B3674;
    /* font-family: 'DM Sans'; */
  }
  
  .noti{
    font-size: 25px;
    color: #A3AED0;
    align-self: center;
  }
  
  .light{
    font-size: 25px;
    color: #2B3674;
    align-self: center;
  
  }
  
  .DropdownItem.active {
    color: #2B3674; 
  }
  
   
  .dashboardgraph1
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 62px;
  }


  .graph2icon
  {
    height: 33px;
    color: #4318ff ;
    width: 33px;
    font-size: 28px;
    background-color: #F4F7FE;
    border-radius: 10px;
    margin-left: 902px;
    padding-top: 21px;
  }
  .dashboardgra
  {
    width: 49.583333%; /* 952px/1920 */
    height: 50%; /* 540px/1080 */
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #FFFFFF;
  }
   .graph1details
  
  {
    text-align: center;
  }
  .barchartborder
  {
    height: 328px;
    width: 389px/952px;
    border: solid 2px #A3AED0;
    border-style:  solid dotted;
  
  }
  
  .dashboardpointdet
  {
    border: solid 3px #A3AED0;
    border-style: dashed;
    height: 267px;
    width: 318px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .pointdetail
  {
   margin-top:11px;
     font-size:18px;
  }
  
  .averagerewardpoints,.totalrewardpoint
  {
    display: flex;
    justify-content: space-evenly;
  }
  .averagerewardpoints
  {
    margin-top: 18px;
  }
  .totalrewardpoint{
    margin-top: 12px;
  }
  
  .position
  {
    background-color: #4318ff;
    color: #FDFDFD;
    border: none;
    font-size: 15px;
    padding: 11px 41px;
    border-radius: 7px;
    margin-top: 45px;
    cursor: pointer;
  }
  
  
  /* Reward Points Card */
  
  .rpcardcontainer
  {
    background-color: #FDFDFD;
    width: 941px;
    border-radius: 20px;
    height: 392px;
  }
  .rpline
  {
    display: flex;
    justify-content: space-evenly;
  }
  .con{
    padding-left: 35px;
  }
  .pointsum
  {
    display: flex;
    gap: 2px;
    margin-left: 71px;
    margin-bottom: 38px;
    padding-top: 21px;
  }
  
  .eligiblerp
  {
    display: flex;
    gap: 30px ;
    margin-top: 38px;
  }
  
  .eligiblepreviousem
  {
    display: flex;
    gap: 36px;
    width: 443px;
    margin-left: 28px;
    height: 57px;
  }
  
  
  .eligiblenextsem
  {
    display: flex;
    gap: 30px;
    width: 426px;
    height: 57px;
  }
  
  
  /* detailedpoints */
  
  .detailedpointbox
  {
    background-color: #ff0000;
    height: 88.148148%; /* 952px/1080 */
    width: 30.104167%; /* 578px/1920 */
    border-radius: 20px;
  }
  
  .detailedpointtitle
  {
    font-size: 18px;
    font-weight: bold;
    
    
  }
  
  .pointdetbutton
  {
    height: 48px;
    justify-content: center;
    align-items: center;
    width: 227px;
  }
  .detailedpointhead
  {
    padding: 20px 0px;
    display: flex;
    gap: 3px; 
    font-size: 20px;
   justify-content: center;
  }
  
  .pointdetbutton
  {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    border: 1px solid;
    gap: 2px;
    margin-top: 30px;
    background-color: #F4F7FE;
  
    border-radius: 0px 10px 10px 0px;
  
  }


  /* login */
 /* Common styles */
.imageandform {
  display: flex;
  background-color: #F4F7FE;
}

.loginform {
  width: 50%;
  display: block;
 padding-left: 6.875%; 
  padding-top: 3.703704%; 
}

.background {
  background-image: url('./assets/loginback.png');
  min-height: 100vh;
  border-radius: 0px 0px 0px 150px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.bg
{
  min-width: 50%;
  background-color:#F4F7FE ;
}
.signin {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 8px;
}

.loginfield {
  color: #4318FF;
  margin-top: 30px;
  font-weight: 500;
}

.createaccountlog
{
  font-weight: 700;
  color: #4318FF;
  font-size: 15px;
}

.notregisteredyeat
{
  font-size: 15px;
  color: #4318FF;
  font-weight: 400;
}

.logininput {
  border: 2px solid #A3AED0;
  margin-top: 0px;
  font-size: 15px;
  background-color: #F4F7FE;
  padding: 20px 280px 20px 30px;
  border-radius: 15px;
}

::placeholder {
  color: #A3AED0;
}

.loginfield {
  margin-bottom: 8px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 190px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.keeploggedin {
  display: flex;
  margin-top: 20px;
}

.checkbox { 
  height: 15px;
  margin-right: 10px;
  width: 15px;
}
.keepmelogged
{
  font-size: 13px;
  font-weight: 400;
  margin-right: 230px;
}

.forgot
{
  font-size: 13px;
  color:#4318FF;
  font-weight: 500;
  
}
.signinbutton {
  background-color: #4318FF;
  color: #FDFDFD;
  margin-top: 30px;
  padding: 15px 220px;
  border: none;
  border-radius: 10px;
  font-weight:700;
  font-size: 17px;
}

.logo {
  margin-top: 20%;
}

.learnmorelogin {
  border: 2px solid #928eff;
  width: 27%;
  margin-top: 3%;
  color: #FFFFFF;
  padding: 12px 17px;
  border-radius: 26px;
}

a {
  color: #FFFFFF;
  font-size: 23px;
  margin-top: 10px;
  font-weight: 600;
}

.loginmode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: none;
  background-image: linear-gradient(to right, #868CFF, #4318FF);
  border-radius: 50%;
  color: #FDFDFD;
  font-size: 25px;
  margin-bottom: 2%;
}

.loginmodecontainer {
  display: flex;
  margin-right: 10%;
  justify-content: end;
  align-items: end;
  height: 200px;
}


.googlebutton {
  background-color: #FDFDFD !important;
  padding: 5px 145px !important;
  margin-top: 15px;
  border: 2px solid #A3AED0 !important;
  color: #2B3674 !important;
  border-radius: 10px !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  cursor: pointer  !important;
  box-shadow: none !important;   
}

/* Dark mode styles */
/* .dark-mode .googlebutton {
  background-color: #2B3674 !important;
  padding: 5px 145px !important;
  margin-top: 15px;
  border: 2px solid #A3AED0 !important;

  border-radius: 10px !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  cursor: pointer !important;
  box-shadow: none !important;   
} */

.dark-mode .imageandform {
  background-color: #0B1437;
}

.dark-mode .loginform {
  background-color: #0B1437;
}
.dark-mode .bg
{
  background-color: #0B1437;
}

.dark-mode .loginfield,.dark-mode.signin, 
.dark-mode .keepmelogged,.dark-mode .forgot,
.dark-mode .signin , .dark-mode .createaccountlog{
  color: #FDFDFD;
}

.dark-mode .notregisteredyeat
{
  color: #A3AED0 ;
}

.dark-mode .logininput {
  background-color: #0B1437;
  color: #FDFDFD;
  border: 2px solid #FDFDFD;
}

